/* BACKGROUND */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
}


/* PLANES */
.blured-element {
    z-index: -75;
}

.green {
    position: fixed;
    top: 137%;
    left: -2%;
    width: 70%;
}

.pink {
    position: fixed;
    top: -30%;
    left: 20%;
    width: 65%;
}

.star {
    position: fixed;
    top: 120%;
    left: -35%;
    width: 40%;
}

.purple {
    position: fixed;
    top: -25%;
    left: -65%;
    width: 70%;
}

.scene-element {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 115%;
}

.p1 {
    z-index: -80;
}

.p2 {
    z-index: -90;
}

.p3 {
    z-index: -100;
}


/* DEPTH */
.depth-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.d2 {
    z-index: -85;
}

.d3 {
    z-index: -95;
}


/* PATHS */
#motionPath {
    overflow: visible;
    height: 100%;
    max-width: 100%;
}

#motionPath path {
    stroke-width: 2;
    stroke: none;
}


/* BUTTON */
button {
    font-size: 1.2em;
    color: white;
    background-color: black;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    z-index: -79;
}